/* The styling in this document is meant to alter the bootstrap styling */

/***** HEADER SECTION *****/

header nav {
    padding: 0 30px;
}

#name {
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background: #20B2AA;
    padding: 15px 25px;
}

/***** MAIN SECTION *****/

.wrapper {
    height: 800px;
    width: 100%;
    background: lightgray;
    padding: 120px 0 80px 40px;
}

article {
    height: 600px;
    width: 60%;
    background: #fff;
    padding: 30px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 42px;
    font-weight: 500;
    color: #20B2AA;
}

img {
    margin-right: 30px;
    margin-bottom: 10px;
    float: left;
}

p.text-wrap {
    margin: 10px;
}

/***** FOOTER SECTION *****/

#green-bar {
    height: 5px;
    width: 100%;
    background: #20B2AA;
}

#gray-bar {
    height: 60px;
    width: 100%;
    background:gray;
}