/* The styling in this document is meant to alter the bootstrap styling */

/***** HEADER SECTION *****/
/* header nav {
    float: right;
} */

#name {
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background: #20B2AA;
    margin-left: 30px;
    padding: 15px 20px;
}

/***** MAIN SECTION *****/

.wrapper {
    height: 800px;
    width: 100%;
    background: lightgray;
    padding: 120px 0 80px 40px;
}

article {
    height: 600px;
    width: 60%;
    background: #fff;
    padding: 30px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 42px;
    font-weight: 500;
    color: #20B2AA;
}

img {
    padding-right: 10px;
    padding-bottom: 10px;
}